 body{ 
 	background-color: lightcyan;
 }
 
 h1{
    padding: 5;
 	font-size: 2rem;
 	font-family: "Tangerine", "consolas";
 	font-style: "Tangerine";
 	color: mediumblue;
 }
  
 a{
   border-top: dotted;
   border-bottom: dotted;
   border-top-width: 5px;
   border-bottom-width: 5px;
 	 border-top-color: violet;
 	 border-bottom-color: violet;
 } 	 
 
 p{
   font-style: "Tangerine";
   font-size: 2rem;
}
 
  p{
      color: deepskyblue;
      font-style: "Tangerine";
      font-family: "Tangerine";
 }
  a:hover {
      color: dodgerblue;
      background: yellow;
 }
  
  a{
      color: deeppink;
      background: black;
 }    
 
  a:active {
    color: greenyellow;
 }     